<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/lenovo/Documents/E/Testing/selenium-project/maven_project/SwagLabFramework/src/test/java/com/afk/SwagLabLoginTest.java">
        <classes>
            <class name="com.afk.SwagLabLoginTest"/>
        </classes>
    </test>
</suite>